# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
backend/.env

# Node/React
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Sonstiges
.DS_Store
*.log 